@tailwind utilities;
@tailwind base; 
@tailwind components;


@font-face {
    font-family: Atomic;
    font-display: swap;
    src: url(https://cdn.lavelada.dev/fonts/font-atomic.woff2) format("woff2")
}


* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}