---
import "../styles/index.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="preload" href="/font-atomic.woff2" as="font" />
	</head>
	<body class="min-h-[100vh] w-full font-[Atomic]">
		<header class="relative w-full max-h-[750px] h-[100vh] bg-zinc-800 flex justify-center items-center">
			<img src="https://enriquetomas.com/cdn/shop/articles/00cremada-05-1.jpg?v=1692289525" alt="Dimoni" class="absolute top-0 left-0 w-full h-full object-cover opacity-50 z-[1]">
			<div class="z-[100] rotate-[-5deg]">	
				<h1 class="text-[70px] font-bold text-yellow-400">dimoni de badalona</h1>
				<h2 class="text-[50px] text-center text-gray-200">festes de maig 2024</h2>
			</div>
		</header>
	</body>
</html>
